.App {
  /* text-align: center; */
  color:#002626;
}

h1 {
  color:#E55812;
}

.btn-secondary {
  background-color:#595758;
  border-color:#595758;
}
.btn-secondary:hover {
  background-color:#393839;
  border-color:#393839;
}